body,
div {
  padding: 0;
  margin: 0;
}
.header {
  height: 30px;
}
.content {
  width: 80%;
  margin: 0 auto;
}
.content p {
  text-align: center;
}
.content .head-icon {
  width: 80px;
  height: 80px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}
.content .head-icon img {
  border-radius: 10px;
}
.content .head-icon:hover {
  border: 1px solid #35a5e5;
  box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  -moz-box-shadow: 0 0 5px #51cbee;
}
